# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary (global) repo maintainers
* @guoshijiang  @jojo

# Documentation
docs/ @guoshijiang

# Savour wallet
wallet/bitcoin/ @guoshijiang
wallet/eos/ @guoshijiang
wallet/ethereum/  @guoshijiang
wallet/solana/  @wmvm0
wallet/solana/ @guoshijiang
